.slider {
    width: 100%;
    overflow: hidden;
}

.slider_wrapp {
    display: flex;
    width: max-content;
    transition: transform .4s ease;
}

.slider_arrow {
    position: absolute;
}

.slider_next {
    right: 0;
}

.slider_prev {
    left: 0;
}

.slider__slide {
    background: #ececec;
}